page-about {

}

.about{
    background-image: url("../assets/imgs/About.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}