page-meath {

}

.Meathimg{
    background-image: url("../assets/imgs/Donegal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}