page-westmeath {

}


.Westmeathimg{
    background-image: url("../assets/imgs/Galway.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}