page-waterford {

}

.Waterfordimg{
    background-image: url("../assets/imgs/LaoisColours.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}