page-wexford {

}

.Wexfordimg{
    background-image: url("../assets/imgs/WexfordColours.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}