page-munster-counties {

}


.munster{
    background-color: crimson
}

.Cork{
    background-color: whitesmoke
}

.Clare{
    background-color: lightblue
}

.Kerry{
    background-color: greenyellow
}

.Limerick{
    background-color: darkgreen
}

.Tipperary{
    background-color: darkgoldenrod
}

.Waterford{
    background-color: blue
}
