page-ulster-counties {

}

.Ulster{
    background-color: goldenrod
}

.Cavan{
    background-color: lightskyblue
}

.Donegal{
    background-color: green
}

.Monaghan{
    background-color: whitesmoke
}