page-mayo {

}

.Mayoimg{
    background-image: url("../assets/imgs/MayoColours.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}