page-cork {

}

.Corkimg{
    background-image: url("../assets/imgs/Cork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 1, 2);
}