page-status {

}

.status{
    background-image: url("../assets/imgs/Status.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}