page-louth {

}

.Louthimg{
    background-image: url("../assets/imgs/LouthColours.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}