page-home {

}


.home{
    background-image: url("../assets/imgs/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
    text-align: center
}