

.meh{
    background-color:lightblue
}

.galway{
    background-color: maroon
}

.Sligo{
    background-color: whitesmoke
}

.Mayo{
    background-color: green
}

.Leitrim{
    background-color: gold
}

.Roscommon{
    background-color: mediumblue
}
