page-kilkenny {

}

.Kilkennyimg{
    background-image: url("../assets/imgs/Kilkenny.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}
