page-offaly {

}


.Offalyimg{
    background-image: url("../assets/imgs/OffalyColours.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}