page-kildare {

}

.Kildareimg{
    background-image: url("../assets/imgs/Kildare.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}