page-leinster-counties {

}

.leinster{
    background-color: navy
}

.Carlow{
    background-color: red
}

.Dublin{
    background-color: lightskyblue
}

.Kildare{
    background-color: greenyellow
}

.Kilkenny{
    background-color: darkgoldenrod
}

.Laois{
    background-color: whitesmoke
}

.Longford{
    background-color: royalblue
}

.Louth{
    background-color: crimson
}

.Meath{
    background-color: gold
}

.Offaly{
    background-color: lightgreen
}

.Westmeath{
    background-color: maroon
}

.Wexford{
    background-color: rebeccapurple
}

.Wicklow{
    background-color: cyan
}