page-sligo {

}

.Sligoimg{
    background-image: url("../assets/imgs/SligoColours.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}