page-limerick {

}

.Limerickimg{
    background-image: url("../assets/imgs/LimerickColours.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}