page-dublin {

}

.Dublinimg{
    background-image: url("../assets/imgs/Dublin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}