page-cavan {

}

.Cavanimg{
    background-image: url("../assets/imgs/Cavan.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aliceblue;
}